name: DevSecOps Security Pipeline

on:
  push:
    branches:
      - main

jobs:
  sast:
    name: SAST - Semgrep
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Run Semgrep SAST scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/owasp-top-ten"

  dependency-scan:
    name: Dependency Scan - Snyk
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Snyk scan
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  dast-zap:
    name: DAST - OWASP ZAP
    runs-on: ubuntu-latest

    services:
      vulnerable-app:
        image: python:3.11
        ports:
          - 5000:5000
        options: >-
          --health-cmd "curl http://localhost:5000"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install flask

      - name: Start vulnerable app
        run: |
          python app/app.py &
          sleep 10

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: "http://localhost:5000"
          fail_action: false
