name: DevSecOps Security Pipeline

on:
  push:
    branches:
      - main

jobs:
  sast:
    name: SAST - Semgrep
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Run Semgrep SAST scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/owasp-top-ten"

  dependency-scan:
    name: Dependency Scan - Snyk
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install -r app/requirements.txt

      - name: Run Snyk scan
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}


  dast-zap:
    name: DAST - OWASP ZAP
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r app/requirements.txt

      - name: Start vulnerable app
        run: |
          python app/app.py &
          sleep 20

      - name: Fix workspace permissions
        run: chmod -R 777 .

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: "http://127.0.0.1:5000"
          artifact_name: "zap_report"
          fail_action: false

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap_report
          path: |
            report_json.json
            report_md.md
            report_html.html


